.image-blur-mask-viewer {
  position: relative;

  overflow: hidden;
}

.image-blur-mask-viewer_slide {
  canvas {
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;

    &:nth-last-child(1) {
      box-shadow: inset 0 0 170px #000000;
    }
  }

  &.load canvas {
    opacity: 1;
  }

  &.load [data-image-blur-mask-canvas='bg'] {
    position: relative !important;

    display: block;
  }

  &.load [data-image-blur-mask-content] {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.image-blur-mask-stub{
  display: block;
  width: 100%;
}

[data-image-blur-mask-content] {
  display: none;
}

[data-image-blur-mask-canvas='blur'] {
  opacity: 0 !important;
}

[data-image-blur-mask-canvas='bgs'] {
  opacity: 0 !important;
}

[data-image-blur-mask-canvas] {
  opacity: 0;
}
